[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifiers separated by comma (,) or put this
# option multiple times (only on the command line, not in the configuration
# file where it should appear only once). You can also use "--disable=all" to
# disable everything first and then reenable specific checks. For example, if
# you want to run only the similarities checker, you can use "--disable=all
# --enable=similarities". If you want to run only the classes checker, but have
# no Warning level messages displayed, use "--disable=all --enable=classes
# --disable=W".
disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        too-many-return-statements,
        invalid-name,
        missing-class-docstring,
        protected-access,
        broad-except,
        too-many-instance-attributes,
        too-many-arguments,
        redefined-outer-name,
        bad-mcs-classmethod-argument,
        too-few-public-methods,
        too-many-statements,
        logging-fstring-interpolation,

[IMPORTS]
ignored-modules=aiohttp,nox,pysasl,pymap,aiosmtpd,pytest,mail_devel
